nav{
	background-color: rgba(0, 0, 0, 0.959);
	color:#b80606;
	padding: 0;
	text-align:right;
	
	padding-bottom: 5px;

}
nav ul{
	list-style:none;
	margin:0;
	padding:0;
	display:flex;
	justify-content: space-between;
}
nav li{
	margin-right:0;
}
nav li a {
	float: right ;
}
nav a{
	color: rgba(32, 17, 238, 0.959);
	text-decoration:none;
	transition: color 0.2s ease;
	padding: 0px  10px 0px 20px;
	
	font-size: 15px;
	margin-top: 10px;
	float: right;
}
nav a:hover{
	color:rgb(0, 102, 128);
}

body{
	background-color: black;
}